---
import { Image } from 'astro:assets'
import { glob } from 'glob'

const imageData = [
  {
    image: "/images/winter-campfire.jpg",
    title: "Algonquin",
    description: "Boiling snow to make tea",
    index: 1
  },
  {
    image: "/images/magpie-falls.jpg",
    title: "Scenic High Falls",
    description: "Sometimes colours are just a distraction",
    index: 2
  },
  {
    image: "/images/elfin-lakes-one.jpg",
    title: "Elfin Lakes",
    description: "This is how I introduced my friends to backpacking",
    index: 3
  },
  {
    image: "/images/stormhaven.jpg",
    title: "Stormhaven",
    description: "Camping in November has many perks",
    index: 4
  },
  {
    image: "/images/highlands-backpacking.jpg",
    title: "Highlands Trail",
    description: "How can a loop trail be all uphill?",
    index: 5
  },
  {
    image: "/images/sinclair-cove.jpg",
    title: "Sinclair Cove",
    description: "Whoops, I dropped my hiking poles off of the side",
    index: 6
  },
  {
    image: "/images/flowerpot.jpg",
    title: "Seawall",
    description: "There's something terrifying about the grandness of the Pacific Ocean",
    index: 7
  },
  {
    image: "/images/nokomis-bay.jpg",
    title: "Nokomis Bay",
    description: "The northern coastline of Lake Superior always feels like a dream to me",
    index: 8
  },
  {
    image: "/images/library.jpg",
    title: "Vancouver",
    description: "Knowledge and gladitorial skills are both sources of power",
    index: 9
  },
  {
    image: "/images/grundy-lake.jpg",
    title: "Grundy Lake",
    description: "We had a 12 hour drive ahead of us, but still made time to stop here",
    index: 10
  },
  {
    image: "/images/big-salmon-lake-loop.jpg",
    title: "Frontenac",
    description: "A few brave pines stand strong where others may falter",
    index: 11
  },
  {
    image: "/images/maggie-lake.jpg",
    title: "Western Uplands",
    description: "We had lost our tent, ran out of food, we were 10km away from where we should be",
    index: 12
  },
  {
    image: "/images/garibaldi.jpg",
    title: "Garibaldi",
    description: "The northern cascade mountains are both beautiful and sublime",
    index: 13
  },
  {
    image: "/images/bnw-campfire.jpg",
    title: "Big Salmon Lake",
    description: "The camaraderie around the campfire was as bright as the flames themselves",
    index: 14
  },
  {
    image: "/images/killarney.jpg",
    title: "Killarney",
    description: "Turns out that sometimes hiking can be leisurely, who knew!",
    index: 15
  },
  {
    image: "/images/elfin-lakes-two.jpg",
    title: "Elfin Lakes",
    description: "How is this the 'less popular' hike in Garibaldi?",
    index: 16
  },
  {
    image: "/images/little-sheguiandah-lake.jpg",
    title: "Little Sheguiandah Lake",
    description: "Killarney has some of the best campsites I've ever been to",
    index: 17
  },
  {
    image: "/images/bon-echo.jpg",
    title: "Bon Echo",
    description: "A big cliff and a very deep lake. I wonder if anyone ever jumped off?",
    index: 18
  },
];

function GetImageTitle(filename, jsonData) {
  for (const item of jsonData) {
    if (item.image === filename) {
      return item.title;
    }
  }
}

function GetImageDescription(filename, jsonData) {
  for (const item of jsonData) {
    if (item.image === filename) {
      return item.description;
    }
  }
}

function GetImageIndex(filename, jsonData) {
  for (const item of jsonData) {
    if (item.image === filename) {
      return item.index;
    }
  }
  return 999;
}

async function ImageFetcher(pattern: string, jsonData) {
  const files = glob.sync(pattern, { posix: true })
  const imagePromises = files.map(async (file) => {
    const src = file.replace('public', '')
    return { src }
  })

  const imageFiles = await Promise.all(imagePromises)

  imageFiles.sort((a, b) => GetImageIndex(a.src, jsonData) - GetImageIndex(b.src, jsonData))

  return imageFiles
}

const imageFiles = await ImageFetcher('public/images/*.{jpg,jpeg,png,webp}', imageData)
const { title, description } = Astro.props
---

<div id="main">
  {
    imageFiles.map((img) => (
      <article class="thumb">
        <a class="image" href={img.src}>
          <Image
            src={img.src}
            width="1200"
            height="750"
            alt="Moeyyad Photography"
          />
        </a>
        <h2>{GetImageTitle(img.src, imageData) || title}</h2>
        <p>{GetImageDescription(img.src, imageData) || description}</p>
      </article>
    ))
  }
</div>
