<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>Photo Galleries</h2>
        <a href="/photos/">Showcase</a> ·
        <a href="/photos/2023">2023</a> ·
        <a href="/photos/2022">2022</a> ·
        <a href="/photos/2021">2021</a> ·
        <a href="/photos/2020">2020</a> ·
        <a href="/photos/past">Past</a>
        <p></p>
      </section>
    </div>
    <div>
      <section>
        <h2>Return Back</h2>
        <ul class="icons">
          <li>
            <a href="https://www.moeyyad.com" class="icon solid fa-solid fa-home">
              <span class="label">moeyyad.com</span>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/moeyyadqureshi/" class="icon brands fa-instagram" aria-label="Social">
              <span class="label">Instagram</span>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</footer>
