---
import { Image } from 'astro:assets'
import { glob } from 'glob'

const imageData = [
  {
    image: "/images/emerald-lake-pano.jpg",
    title: "Emerald Lake",
    description: "This must be where Heaven and Earth meets",
    index: 1
  },
  {
    image: "/images/yoho-sunset.jpg",
    title: "Yoho",
    description: "Sunset on the 3rd day of driving from Vancouver to Toronto",
    index: 2
  },
  {
    image: "/images/trans-canada-highway.jpg",
    title: "Trans Canada",
    description: "The mountains progressively grew as we neared the Great Divide",
    index: 3
  },
  {
    image: "/images/saskatchewan-landing-picnic.jpg",
    title: "Saskatchewan Landing",
    description: "A few hills who defy the convention of endless flat plains",
    index: 4
  },
  {
    image: "/images/big-apple.jpg",
    title: "Big Apple",
    description: "This keeps all the dentists away",
    index: 5
  },
  {
    image: "/images/cerro-san-cristobal-gondola.jpg",
    title: "Cerro San Cristobal",
    description: "Getting my first job 10,000km away from where I lived was a good choice",
    index: 6
  },
  {
    image: "/images/notre-dame-basilica.jpg",
    title: "Notre Dame Basilica",
    description: "Usually I like being outdoors, places like this are the exception",
    index: 7
  },
  {
    image: "/images/mont-tremblant.jpg",
    title: "Mont Tremblant",
    description: "We arrived at the top after the last gondola left, thankfully a ranger gave us a ride down",
    index: 8
  },
  {
    image: "/images/shopify-plus.jpg",
    title: "Shopify",
    description: "Probably the coolest looking office I'll ever work at",
    index: 9
  },
  {
    image: "/images/thousand-islands.jpg",
    title: "Thousand Islands",
    description: "A floating miniature castle that looks elegant from every angle",
    index: 10
  },
  {
    image: "/images/emerald-lake-canoe.jpg",
    title: "Emerald Lake",
    description: "Going out for a particularly aesthetic paddle",
    index: 11
  },
  {
    image: "/images/art-gallery-ontario.jpg",
    title: "AGO",
    description: "An exhibition titled the Infinity Room",
    index: 12
  },
  {
    image: "/images/camp-tamakwa.jpg",
    title: "Camp Tamakwa",
    description: "The crisp autumn air of Algonquin is all I need",
    index: 13
  },
  {
    image: "/images/orange-julep.jpg",
    title: "Orange Julep",
    description: "Never a wrong moment for Orange Julep",
    index: 14
  },
  {
    image: "/images/andes.jpg",
    title: "Embalse El Yeso",
    description: "High in the Andes Mountains",
    index: 15
  },
  {
    image: "/images/toronto.jpg",
    title: "Toronto",
    description: "All roads lead to the CN Tower",
    index: 16
  },
  {
    image: "/images/tea-lake.jpg",
    title: "Tea Lake",
    description: "Hills of golden colour rim the lake",
    index: 17
  },
  {
    image: "/images/saskatchewan-landing-camping.jpg",
    title: "Saskatchewan Landing",
    description: "A most picturesque camping spot",
    index: 18
  }
  
];

function GetImageTitle(filename, jsonData) {
  for (const item of jsonData) {
    if (item.image === filename) {
      return item.title;
    }
  }
}

function GetImageDescription(filename, jsonData) {
  for (const item of jsonData) {
    if (item.image === filename) {
      return item.description;
    }
  }
}

function GetImageIndex(filename, jsonData) {
  for (const item of jsonData) {
    if (item.image === filename) {
      return item.index;
    }
  }
  return 999;
}

async function ImageFetcher(pattern: string, jsonData) {
  const files = glob.sync(pattern, { posix: true })
  const imagePromises = files.map(async (file) => {
    const src = file.replace('public', '')
    return { src }
  })

  const imageFiles = await Promise.all(imagePromises)

  imageFiles.sort((a, b) => GetImageIndex(a.src, jsonData) - GetImageIndex(b.src, jsonData))

  return imageFiles
}

const imageFiles = await ImageFetcher('public/images/*.{jpg,jpeg,png,webp}', imageData)
const { title, description } = Astro.props
---

<div id="main">
  {
    imageFiles.map((img) => (
      <article class="thumb">
        <a class="image" href={img.src}>
          <Image
            src={img.src}
            width="1200"
            height="750"
            alt="Moeyyad Photography"
          />
        </a>
        <h2>{GetImageTitle(img.src, imageData) || title}</h2>
        <p>{GetImageDescription(img.src, imageData) || description}</p>
      </article>
    ))
  }
</div>
